@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 1080px) {
    @content;
  }
}

@mixin focus-effect($color) {
  border-color: $color;
  box-shadow: 0 0 0 2px rgba($color, 0.2);
  outline: none;
}
