$background-color: #e6eadc;
$primary-color: #70812e;
$primary-dark: #4F5B21;
$primary-darker: #2F3613;
$secondary-color: #bcbcb6;
$text-color: #1e1e1e;
$secondary-text-color: #585858;
$gray-color: #ccc;
$light-gray: #e8eaf6;
$background-header: #414a1f;
